@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background-color: #0d1a2d;
}
.card{
    font-family: "Outfit";
    margin: auto;
    width: 225px;
    height: 400px;
    background-color: #15273f;
    border-radius: 10px;
    padding: 20px;
    line-height: 30px;
    margin-top: 10vh;
}
.pic img{
    height: auto;
    width: 225px;
    border-radius: 10px;
}
.title{
    color: #ffffff;
}
.info{
    color: #7f95b3;
    width: 250px;
    font-size: 14px;
    line-height: 20px;
}
.fee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #2f4159;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 0px;
}
.fee p1{
    color: #00fff8;
}
.fee p1 img, .fee p2 img{
    width: auto;
    height: 12px;
    padding-right: 5px;
}
.fee p2{
    color: #7f95b3;
}
.author{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    color: #788ba9;
    font-size: 12px;
    line-height: 0px;
}
.author img{
    height: 30px;
    width: auto;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-right: 15px;
}
.author span{
    color: #ffffff;
    margin-left: 5px;
}